In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [7]:
df = pd.read_excel("Real estate valuation data set.xlsx", index_col='No')
df.head()

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
No,,,,,,,
1,2012.916667,32.0,84.87882,10,24.98298,121.54024,37.9
2,2012.916667,19.5,306.59470,9,24.98034,121.53951,42.2
3,2013.583333,13.3,561.98450,5,24.98746,121.54391,47.3
4,2013.500000,13.3,561.98450,5,24.98746,121.54391,54.8
5,2012.833333,5.0,390.56840,5,24.97937,121.54245,43.1

In [8]:
# df = df.drop(columns=df.colums)
median_price = df["Y house price of unit area"].median()
df["Overpriced"] = (df["Y house price of unit area"] > median_price).astype(int)

X= df.drop(columns=["Y house price of unit area", "Overpriced"])
y = df["Overpriced"]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=1/3, random_state=42, stratify=y)

In [10]:
print(f"Training Samples: {len(X_train)}, Testing samples: {len(X_test)}")

Training Samples: 276, Testing samples: 138